::-webkit-scrollbar {
  overflow: visible !important;
  width: 8px;
  background-color: #FFFFFF;
}

::-webkit-scrollbar-thumb {
  min-height: 28px;
  border: 3px solid rgba(0, 0, 0, 0);
  /*background-clip: padding-box;*/
  -webkit-border-radius: 4px;
  background-color: #c1c1c1; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8a8a8;
}

::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}