[submodule "src/libs/3rdparty/framelesshelper"]
	path = src/libs/3rdparty/framelesshelper
	url = https://github.com/wangwenx190/framelesshelper.git
[submodule "src/libs/3rdparty/quazip"]
	path = src/libs/3rdparty/quazip
	url = https://github.com/stachenov/quazip.git
[submodule "src/libs/3rdparty/gumbo-parser"]
	path = src/libs/3rdparty/gumbo-parser
	url = https://github.com/google/gumbo-parser.git
